body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f8dab4;
}

header{
	background:#f4e403;#35434a;
	border-bottom:#448AFF 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}


.main-header{
    text-align:center;
    background-color: rgb(71, 12, 12);
    height:100px;
    width:100%;
    margin:0px;
}

.btn-info {background-color: #ffa600;
	height:40px;
	width:100px;} 
.btn-info:hover {background: #eaeff3;}

